{% load leaflet_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
      html, body {
        height: 100%;
        margin: 0;
      }
      .leaflet-container {
        height: 100%;
      }
    </style>
    <script type="text/javascript">
      function map_init_basic (map, options) {
          map.setView([35.7785733,-78.6395438], 10);

          L.geoJSON(geojsonFeature).addTo(map);
      }
    </script>
    <title>CAC</title>
    {% leaflet_js %}
    {% leaflet_css %}
  </head>
  <body>
    {% leaflet_map "cac_map" callback="window.map_init_basic" %}
  </body>
  <script type="text/javascript">
    // Add geojson data here so the source is a little easier to read.
    var geojsonFeature = {{data|safe}};
  </script>
</html>