{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

    <style>
      .leaflet-container { height: 100%; }
    </style>

    <script type="text/javascript">
    function map_init_basic (map, options) {
        // L.marker([50.5, 30.5]).addTo(map);

        // create a red polygon from an array of LatLng points
        // var latlngs = 1;
        // var polygon = L.polygon(latlngs, {color: 'red'}).addTo(map);

        // Try this
        // var central = 2;
        // var polygon = L.polygon(central, {color: 'red'}).addTo(map);

        // var latlngs = [[37, -109.05],[41, -109.03],[41, -102.05],[37, -102.04]];
        // var polygon = L.polygon(latlngs, {color: 'red'}).addTo(map);
        var geojsonFeature = {{data|safe}};

        L.geoJSON(geojsonFeature).addTo(map);

        // zoom the map to the polygon
        // map.fitBounds(polygon.getBounds());
    }
    </script>

	<title>CAC</title>
    {% leaflet_js %}
    {% leaflet_css %}
</head>
<body>

{% leaflet_map "cac_map" callback="window.map_init_basic" %}

</body>
</html>